<div class="main-container">
  <div class="video-left-menu" ng-style="style()" resize>
    <div class="video-item-list" ng-repeat="firstItem in categoryList" ng-class="{true:'video-active-list'}[activeCategory.first==firstItem.id]" ng-click="changeFirstCategory(firstItem)">
      {{firstItem.categoryName}}
    </div>
  </div>
  <div class="video-center-menu" ng-style="style()" resize>
    <div ng-repeat="secondList in secondCategoryList">
      <div class="video-second-title">{{secondList.groupName}}</div>
      <div class="video-third-list" ng-repeat="thirdCate in secondList.childrenList">
        <div class="category-name" ng-class="{'category-name-active':thirdCategoryId==thirdCate.categoryId}" ng-click="changeThirdCategory(thirdCate)">{{thirdCate.groupName}}</div>
      </div>
    </div>
  </div>
  <div class="video-right-content" ng-style="videoListWidth">
    <div class="video-list-search">
      <input type="text" placeholder="搜索" ng-model="searchInfo">
      <div class="search-btn" ng-click="searchVideo()"></div>
    </div>
    <div class="video-result-list">
      <div class="video-item" ng-repeat="album in albumList">
        <img ng-src="{{album.smallImage}}" ng-click="toAlbumDetail(album)">
        <div class="video-title" ng-click="toAlbumDetail(album)">
          {{album.albumTitle}}
        </div>
        <div class="video-author" ng-click="toAlbumDetail(album)">
          {{album.albumAuthor}}
          <div class="video-count">
            {{album.videoCount}}个视频
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
