.video-left-menu {
  width: 200px;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 60px;
  .video-item-list{
    width: 158px;
    height: 36px;
    line-height: 36px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    margin-left: 21px;
    margin-top: 20px;
    padding-left: 35px;
    border-radius: 2px;

  }
  .video-item-list:hover{
    background-color: #eeecec;
  }
  .subject-icon{
    background: url(../app/img/kexue@2x.png) 8px center no-repeat;
  }
  .video-item-list:hover{
    color: @main-color;
  }
  .video-active-list{
    color: #ffffff !important;
    background-color: @main-color !important;
  }
}

.video-center-menu{
  width: 345px;
  overflow-y: auto;
  border: 1px solid #e5e5e5;
  position: fixed;
  box-sizing: border-box;
  overflow-y: auto;
  padding-left: 22px;
  padding-right: 10px;
  padding-top: 5px;
  left: 200px;
  top: 60px;
  .video-second-title{
    margin-top: 33px;
    font-size: 18px;
    padding-bottom: 11px;
    color: #999;
    cursor: default;
    line-height: 1;
  }
  .video-third-list{
    width: 50%;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-top: 9px;
    clear: both;
    .category-name{
      line-height: 1;
      color: #333333;
      float: left;
    }
    .category-name:hover{
      color: @main-color;
    }
    .category-name-active{
      color: @main-color;
    }
  }
}

.video-right-content{
  position: fixed;
  top: 60px;
  left: 545px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f2f2f2;
  padding: 14px 20px;
  .video-list-search{
    position: relative;
    input{
      float: right;
      height: 34px;
      border: none;
      width: 361px;
      background-color: #eaeaea;
      border-radius: 2px;
      padding-left: 10px;
    }
    input::-webkit-input-placeholder {
      color: #c0c0c0;
    }
    input:-moz-placeholder {
      color: #c0c0c0;
    }
    input::-moz-placeholder {
      color: #c0c0c0;
    }
    input:-ms-input-placeholder {
      color: #c0c0c0;
    }
    input[type=search]::-ms-clear{
      display: none;
    }
    .search-btn{
      position: absolute;
      right: 13px;
      width: 34px;
      height: 34px;
      cursor: pointer;
      background: url(../app/img/sousuo.png) 8px center no-repeat;
    }
  }
  .video-result-list{
    margin-top: 52px;
    .video-item{
      display: inline-block;
      vertical-align: top;
      text-align: center;
      cursor: pointer;
      margin-bottom: 20px;
      @media screen and(min-width: 1280px) and (max-width: 1600px) {
        width: 33.33%;
      }
      @media screen and(min-width: 1601px) and (max-width: 1920px) {
        width: 25%;
      }
      @media screen and(min-width: 1921px) and (max-width: 2500px) {
        width: 20%;
      }
      font-size: 0;
      img{
        width:248px;
        vertical-align: top;
      }
      .video-title{
        width: 248px;
        margin: 18px auto 0;
        text-align: left;
        line-height: 1;
        font-size: 16px;
        color: #333;
        cursor: pointer;
      }
      .video-title:hover{
        color: @main-color;
      }
      .video-author{
        width: 248px;
        clear: both;
        margin: 10px auto 0;
        text-align: left;
        line-height: 1;
        font-size: 12px;
        color: #999;
        .video-count{
          float: right;
        }
      }
    }
  }
}