<div class="main-container">
    <div class="mine-left-menu" style="padding-top: 20px;" ng-style="style()" resize>
        <div class="mine-item-list mine-application" ng-class="{true:'active-list mine-application-active'}[nowActive=='myApp']" ng-click="changeItem('myApp')">
            我的应用
        </div>
        <div class="mine-item-list app-recomand" ng-class="{true:'active-list app-recomand-active'}[nowActive=='recApp']" ng-click="changeItem('recApp')">
            应用推荐
        </div>
    </div>

    <div class="mine-right-panel" ng-style="panelWidth" style="background-color: #f2f2f2">
        <div ng-switch="nowActive">
            <div ng-switch-when="myApp" style="padding-top: 44px">
                <div class="one-app-item" style="margin-bottom: 40px;" ng-click="openOneApp(pro)"  ng-repeat="pro in myAddAppList">
                    <div class="app-help-feed" style="" context-menu target='menulist'>
                        <div class="app-panel" ng-mouseenter="pro.delete=true" ng-mouseleave="pro.delete=false">
                            <img ng-src="{{pro.imgSrc}}">
                            <div class="app">{{pro.name}}</div>
                            <div class="delete-app-btn" ng-show="pro.delete" ng-click="deleteApp(pro); $event.stopPropagation();"></div>
                        </div>

                    </div>
                </div>
                <!--<ul id='menulist' ng-show='opened' style="position: absolute;z-index:1000;height: 50px">-->
                    <!--<li ng-repeat='m in ms' ng-click='fn($event,m.name)'>{{m.name}}</li>-->
                <!--</ul>-->
            </div>
            <div ng-switch-when="recApp" style="padding: 0px 22px;font-size: 0">
                <!--<div class="one-app-item" style="margin-bottom: 40px;" ng-click="appFeedRecord(pro)"  ng-repeat="pro in myAppList">-->
                    <!--<div class="app-help-feed">-->
                        <!--<img ng-src="{{pro.smallImage}}">-->
                        <!--<div class="app">{{pro.appName}}</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="app-classic">
                    <div class="one-classic one-classic-active" ng-class="{true:'one-classic-active'}[nowClassic=='QB']" ng-click="choiceAppClassic('QB')">全部</div>
                    <div class="one-classic" ng-class="{true:'one-classic-active'}[nowClassic=='JJFS']" ng-click="choiceAppClassic('JJFS')">急救复苏</div>
                    <div class="one-classic" ng-class="{true:'one-classic-active'}[nowClassic=='ZHJN']" ng-click="choiceAppClassic('ZHJN')">临床技能</div>
                    <div class="one-classic" ng-class="{true:'one-classic-active'}[nowClassic=='HLJN']" ng-click="choiceAppClassic('HLJN')">护理技能</div>
                    <div class="one-classic" ng-class="{true:'one-classic-active'}[nowClassic=='QTYY']" ng-click="choiceAppClassic('QTYY')">其他应用</div>
                </div>
                <div class="app-recomand-panel" ng-repeat="pro in myAppList">
                    <div class="app-detail">
                        <img ng-src="{{pro.imgSrc}}"/>
                        <div class="add-btn" ng-class="{'add-btn-disabled':!pro.enabled}" ng-click="addApps(pro)">
                            {{pro.status}}
                        </div>
                        <div class="app-detail-desc">
                            <div class="desc-title">
                                {{pro.name}}
                            </div>
                            <div class="desc-version">
                                版本V{{pro.version}}
                            </div>
                            <div class="desc-info">
                                {{pro.intro}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

