<div class="app-login" id="login">
    <!--<div class="login-window">-->
        <!--<div class="login-title">用户登录</div>-->
        <!--<div class="login-frames">-->
            <!--<input type="text" name="user" class="login-user" ng-model="user.name" placeholder="请输入用户名"/>-->
        <!--</div>-->
        <!--<div class="login-frames">-->
            <!--<input type="password" name="password" class="login-password" ng-model="user.password" placeholder="请输入密码">-->
        <!--</div>-->
        <!--<input type="button" value="登 录" class="login-button" ng-disabled="!(user.name&&user.password)" ng-click="login()">-->
        <!--<div class="login-tip">-->
            <!--{{loginTip}}-->
        <!--</div>-->
    <!--</div>-->
</div>

