<div class="panel panel-default">
    <div class="panel-heading-reset panel-title"><span style="color: #999">历史记录</span>>应用</div>
    <div class="panel-body">
        <div class="app-history-panel" ng-repeat="appRecord in appUseList">
            <div class="app-img">
                <img ng-src="{{appRecord.app.smallImage}}">
            </div>
            <div class="app-name-time">
                <div class="app-name">
                    {{appRecord.app.appName}}
                </div>
                <div class="use-time">
                    {{appRecord.date}}
                </div>
            </div>
        </div>
    </div>
</div>