<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">历史记录>应用</h2>
    </div>
    <div class="panel-body" style="padding-left: 20px;padding-right: 20px;">
        <div class="app-history-panel" ng-repeat="appRecord in appUseList">
            <div class="app-img">
                <img ng-src="{{appRecord.app.smallImage}}">
            </div>
            <div class="app-name-time">
                <div>
                    {{appRecord.app.appName}}
                </div>
                <div>
                    {{appRecord.date}}
                </div>
            </div>
        </div>
    </div>
</div>