<div class="exist-modal">
    <div class="exist-title" style="padding-left: 20px;padding-right: 20px;line-height: 1.2;text-align: left">
        确定要删除{{product.name}}么?
    </div>
    <div class="exist-btns" style="margin-top: 35px;">
        <div class="exist-btn">
            <div class="my-btn my-btn-cancle" ng-click="cancleQuit()">
                取消
            </div>
        </div>
        <div class="exist-btn">
            <div class="my-btn my-btn-sure" ng-click="sureQuit()">
                确定
            </div>
        </div>
    </div>
</div>