<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">反馈记录>详情</h2>
    </div>
    <div class="panel-body" style="padding-left: 20px;padding-right: 20px;padding-bottom: 50px;">
        <div class="feed-record-item" style="border-bottom: none;">
            <div class="feed-question">
                {{feedDetailData.question}}
            </div>
            <div class="feed-time">
                {{feedDetailData.useDate}}
            </div>
            <div class="feed-app">
                {{feedDetailData.appName}}
            </div>
            <div class="deal-status" ng-class="{'no-deal':feedDetailData.status=='1','have-deal':feedDetailData.status=='2','deal-ing':feedDetailData.status=='3'}">
                {{feedDetailData.statusWord}}{{que.status}}
            </div>
            <div class="deal-intro" ng-show="feedDetailData.status=='1'">
                尊敬的用户，我们的工作人员正在处理！
            </div>
            <div class="deal-intro" ng-show="feedDetailData.status=='2'">
                {{feedDetailData.answer}}
            </div>
            <div class="deal-intro" ng-show="feedDetailData.status=='3'">
                {{feedDetailData.answer}}
            </div>
        </div>
    </div>
</div>