<div class="login-panel">
    <div class="close-btn" ng-click="closeFindModal()"></div>
    <div class="login-header">
        <!--<img src="./app/img/u10.png">-->
        找回密码
    </div>
    <div class="login-body">
        <div ng-show="findPasswordType==1">
            <div class="login-user-name">
                <input type="text" class="input-small" placeholder="手机号" ng-model="findPasswordWord.phone" required>
            </div>
            <div class="register-code">
                <input type="text" class="input-small" placeholder="验证码" ng-model="findPasswordWord.code" required>
                <div class="yanzheng-code-btn" ng-click="getPhoneCode()">{{getCodeBtn}}</div>
            </div>
            <div class="register-img-code">
                <input type="text" class="input-small" placeholder="图形验证码" ng-model="findPasswordWord.imgcode" required>
                <img ng-src="{{imgCode.img}}" ng-click="getImgCode()">
            </div>
        </div>
        <div ng-show="findPasswordType==2">
            <div class="login-password" style="margin-top: 74px">
                <input type="password" placeholder="请输入密码" maxlength="12" ng-model="findPasswordWord.password" required>
            </div>
            <div class="login-password">
                <input type="password" placeholder="请重复密码" maxlength="12" ng-model="findPasswordWord.rePassword" required>
            </div>
        </div>
        <div class="login-info-tip" ng-show="findPasswordTip">
            {{findPasswordTip}}
        </div>
    </div>
    <div class="login-footer">
        <button class="btn btn-primary login-btn" ng-click="nextAndFinish()">
            <span ng-show="findPasswordType==1">下一步</span>
            <span ng-show="findPasswordType==2">完成</span>
        </button>
    </div>
</div>