<div style="height: calc(100% - 140)">
    <div class="panel-heading-reset panel-heading">
        <div>帮助与反馈</div>
    </div>
    <div class="user-no-login" style="background-color: #f2f2f2;">
        <img src="./app/img/katong.png">
        <div class="nologin-intro">无法加载数据，似乎没有网络连接哦！</div>
        <div class="no-login-btn" ng-click="getAllAlbum()">重试</div>
    </div>
    <div style="padding-left: 20px;padding-right: 20px;padding-top: 51px;">
        <div class="one-app-item" style="margin-bottom: 59px;" ng-click="appFeedRecord(pro)"  ng-repeat="pro in appProList">
            <div class="app-help-feed">
                <div class="app-panel">
                    <img ng-src="{{pro.smallImage}}" style="width: 113px;height: 113px">
                    <div class="app" style="font-size: 20px;">{{pro.appName}}</div>
                </div>

            </div>
        </div>

        <!--<div class="one-app-item" ng-repeat="pro in appProList" ng-click="appFeedRecord(pro)">-->
            <!--<img ng-src="{{pro.smallImage}}">-->
            <!--<span>{{pro.appName}}</span>-->
        <!--</div>-->
    </div>
</div>