<div>
    <div class="panel-heading-reset panel-heading">
        <div>历史记录</div>
    </div>
    <div style="padding-left: 20px;padding-right: 20px;padding-top: 140px;">
        <div class="one-app-item" ng-click="appUseHistory('1001')">
            <div class="app-history">
                <div class="app">应用</div>
            </div>

        </div>
        <div class="one-app-item" ng-click="appVideoHistory('1002')">
            <div class="video-history">
                <div class="video">视频</div>
            </div>

        </div>
        <div class="one-app-item" ng-click="appPassageHistory('1003')">
            <div class="info-history">
                <div class="info">文章</div>
            </div>

        </div>
    </div>
</div>