<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">历史记录>{{}}</h2>
  </div>
  <div class="panel-body" style="padding-left: 20px;padding-right: 20px;">
    <div class="one-app-item" ng-click="appFeedRecord(pro)">
      <img ng-src="./app/img/u498.png">
      <span>应用</span>
    </div>
    <div class="one-app-item" ng-click="appFeedRecord(pro)">
      <img ng-src="./app/img/u500.png">
      <span>视频</span>
    </div>
    <div class="one-app-item" ng-click="appFeedRecord(pro)">
      <img ng-src="./app/img/u502.png">
      <span>文章</span>
    </div>
  </div>
</div>