<div class="login-panel">
    <div class="close-btn" ng-click="closeModal()"></div>
    <div class="login-header">
        <!--<img src="./app/img/u10.png">-->
        请使用医模云ID登录
    </div>
    <div class="login-body">
        <div class="login-user-name">
            <input type="text" class="input-small" placeholder="手机号" ng-model="loginUser.phone" required>
        </div>
        <div class="login-password">
            <input type="password" placeholder="请输入密码" maxlength="12" ng-model="loginUser.password" required>

        </div>
        <div class="login-reg-find">
            <div class="reg-user" ng-click="toRegisterId()">
                注册医模云ID
            </div>
            <div class="find-password" ng-click="toFindPassword()">
                忘记密码？
            </div>
        </div>

        <div class="login-tip">
            {{messageTip}}
        </div>
    </div>
    <div class="login-footer">
        <button class="btn btn-primary login-btn" ng-click="toLogin()">登录</button>
    </div>
</div>
