.mine-left-menu{
  width: 200px;
  border-right: 1px solid gainsboro;
  margin-top: 100px;
  height: -moz-calc (100% - 100px) !important;
  height: -webkit-calc (100% - 100px) !important;
  height: calc (100% - 100px) !important;
}