<div class="main-container">
    <div class="mine-left-menu" ng-style="style()" resize>
        <div class="mine-portrait">
        </div>
        <div class="login-btn">登录</div>
        <div class="mine-item-list">
            历史记录
        </div>
        <div class="mine-item-list">
            帮助与反馈
        </div>
        <div class="mine-item-list">
            反馈记录
        </div>
    </div>
    <div class="mine-right-panel" ng-style="panelWidth">
        我的
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
    </div>
</div>