.mine-left-menu{
  width: 250px;
  overflow-y: auto;
  border-right: 1px solid gainsboro;
  margin-top: 100px;
  .mine-portrait-img{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid gainsboro;
    .mine-portrait{
      width: 100px;
      height: 100px;
      background: url(../app/img/touxiang@2x.png) left center no-repeat;
      background-size: 100px 100px;
      display: block;
      margin: 50px auto 20px;
      img{
        width: 100px;
        height: 100px;
        border-radius: 50px;
      }
    }
    .login-btn{
      text-align: center;
      width: 100px;
      height: 40px;
      line-height: 39px;
      font-size: 20px;
      color: white;
      margin-left: 75px;
      border-radius: 6px;
      background-color: @main-color;
      cursor: pointer;
    }
    .user-name{
      text-align: center;
      width: 100%;
      height: 40px;
      line-height: 39px;
      font-size: 16px;
      color: @main-color;
    }
  }


  .mine-item-list{
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
  }
  .active-list{
    color: #ffffff !important;
    background-color: @main-color;
  }
  .mine-item-list:hover{
    color: @main-color;
  }
}

.mine-right-panel{
  position: absolute;
  padding: 10px;
  left: 250px;
  top: 100px;
  overflow-x: auto;
}
.modal-dialog{
  //width: 400px;
}

.login-panel{
  position: relative;
  .close-btn{
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    z-index: 10;
    font-size: 26px;
  }
  .login-header{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: gainsboro;
    position: relative;
    img{
      width: 60px;
    }

  }
  .login-body{
    padding-top: 20px;
    .login-user-name{
      width: 300px;
      margin-left: 50px;
      height: 50px;
      input{
        height: 40px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid gainsboro;
        padding-left: 5px;
      }
    }
    .login-password{
      width: 300px;
      margin-left: 50px;
      margin-top: 20px;
      height: 50px;
      input{
        padding-left: 5px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid gainsboro;
        width: 100%;
      }
    }
    .feed-stage{

    }
    .feed-text-area{
      .massage-area{

      }
    }
  }
  .login-footer{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    .login-btn{
      background-color: @main-color;
      border: none;
      width: 300px;
      height: 45px;
      margin-left: 50px;
      font-size: 20px;
    }

  }
}

.one-app-item{
  width: 100%;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
  img{
    width: 80px;
  }
  span{
    margin-left: 20px;
    font-size: 20px;
  }
}

.feed-record-item{
  width: 100%;
  height: 100px;
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 20px;
  position: relative;
  .feed-question{
    font-size: 20px;
  }
  .feed-time{
    margin-top: 10px;
    display: inline-block;
    color: gray;
  }
  .feed-app{
    margin-top: 10px;
    display: inline-block;
    margin-left: 50px;
    color: gray;
  }
  .deal-status{
    position: absolute;
    right: 50px;
    top: 0;
    height: 100px;
    line-height: 100px;
  }
  .have-deal{
    color: green;
  }
  .no-deal{
    color: red;
  }
  .deal-ing{
    color: yellow;
  }
  .deal-intro{
    margin-top: 40px;
    font-size: 20px;
    height: 50px;
    padding-bottom: 40px;
  }
}

.user-info-portrait{
  height: 150px;
  border-bottom: 1px solid gainsboro;
  position: relative;
  .portrait{
    width: 80px;
    height: 80px;
    background: url('../app/img/touxiang@2x.png') left center no-repeat;
    background-size: 80px 80px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    img{
      width: 80px;
      height: 80px;
      border-radius: 40px;
    }
  }
  .change-portrait{
    position: absolute;
    left: 100px;
    button{
      margin-top: 60px;
    }
  }

}

.user-message-item{
  height: 100px;
  border-bottom: 1px solid gainsboro;
  position: relative;
  padding-top: 20px;
  font-size: 19px;
  span{
    font-size: 14px;
    color: #cccccc;
  }
  .user-right-button{
    position: absolute;
    top: 0;
    right: 40px;
    height: 100px;
    line-height: 100px;
    span{
      cursor: pointer;
      color: @main-color;
    }
  }
}

.one-app-question{
  height: 80px;
  border-bottom: 1px solid gainsboro;
  .question{
    font-size: 17px;
  }
  .answer{
    margin-top: 5px;
    font-size: 16px;
  }
}
/* 我的应用的历史记录*/
.app-history-panel{
  height: 100px;
  border-bottom: 1px solid gainsboro;
  position: relative;
  .app-img{
    margin-top: 20px;
    width: 80px;
    height: 80px;
    img{
      width: 80px;
      height: 80px;
    }
  }
  .app-name-time{
    position: absolute;
    height: 100px;
    left: 100px;
    top: 0;
    padding-top: 20px;
    .app-name{
      height: 40px;
      line-height: 40px;
    }
    .use-time{
      height: 40px;
      line-height: 40px;
    }
  }
}