<div class="main-container">
    <div class="mine-left-menu" ng-style="style()" resize>
        <div class="mine-portrait-img">
            <div class="mine-portrait">
                <img ng-src="{{haveLoginuser.smallImg}}"  onerror="javascript:this.src='./app/img/touxiang.png'" ng-show="haveLoginuser.smallImg">
            </div>
            <div class="login-btn" ng-show="!haveLoginuser.accountId" ng-click="mineLogin()">医模科技 <span style="color: #e5e5e5">|</span> <span style="color: #984beb">登录</span></div>
            <div class="user-name" ng-show="haveLoginuser.accountId">{{haveLoginuser.userName}}</div>
            <div class="change-pic" ng-show="haveLoginuser.accountId" ng-click="modifyImg()">修改头像</div>
        </div>
        <div class="mine-item-list application-icon" ng-class="{true:'active-list active-list-app'}[nowActivePanel=='history'||nowActivePanel=='appRecord'||nowActivePanel=='videoRecord'||nowActivePanel=='passageRecord']" ng-click="application('history')">
            历史记录
        </div>
        <div class="mine-item-list help-feed-icon" ng-class="{true:'active-list active-list-bangzhu'}[nowActivePanel=='feed'||nowActivePanel=='helpFeedApp']" ng-click="helpFeedApp('feed')">
            帮助与反馈
        </div>
        <div class="mine-item-list feed-record-icon" ng-class="{true:'active-list active-list-fankui'}[nowActivePanel=='record'||nowActivePanel=='feedDetail']" ng-click="feedRecord('record')">
            反馈记录
        </div>
        <div class="mine-item-list user-message-icon" ng-show="haveLoginuser.accountId" ng-class="{true:'active-list active-list-ziliao'}[nowActivePanel=='user']" ng-click="userInfo()">
            用户资料
        </div>
        <div class="mine-item-list mine-quit-login" ng-show="haveLoginuser.accountId" ng-click="quitLogin()">
            退出登录
        </div>
    </div>
    <div class="mine-right-panel" ng-style="panelWidth">
        <div ng-switch="nowActivePanel" style="height: 100%">
            <history-record ng-switch-when="history"></history-record>
            <history-record-type ng-switch-when="historyType"></history-record-type>
            <help-feed ng-switch-when="feed"></help-feed>
            <help-feed-app ng-switch-when="helpFeedApp"></help-feed-app>
            <feed-record ng-switch-when="record"></feed-record>
            <user-info ng-switch-when="user"></user-info>
            <no-login-panel ng-style="panelWidth" style="background-color: #f2f2f2" ng-switch-when="noLogin"></no-login-panel>
            <feed-record-detail ng-switch-when="feedDetail"></feed-record-detail>
            <app-use-record ng-switch-when="appRecord"></app-use-record>
            <video-use-record ng-switch-when="videoRecord"></video-use-record>
            <passage-use-record ng-switch-when="passageRecord"></passage-use-record>
            <net-break-panel ng-switch-when="netBreak"></net-break-panel>
        </div>
    </div>
</div>