<div class="login-panel">
  <div class="close-btn" ng-click="closeModal()">&times;</div>
  <div class="login-header">
    <!--<img src="./app/img/u10.png">-->
    修改用户名
  </div>
  <div class="login-body">
    <div class="login-user-name">
      <input type="password" placeholder="旧登陆密码" maxlength="12" ng-model="passwordInfo.oldPassword" required>
    </div>
    <div class="login-user-name">
      <input type="password" placeholder="新密码" maxlength="12" ng-model="passwordInfo.newPassword" required>
    </div>
    <div class="login-user-name">
      <input type="password" placeholder="重复新密码" maxlength="12" ng-model="passwordInfo.reNewPassword" required>
    </div>
    <div class="login-info-tip">
      {{modifyPasswordTip}}
    </div>
  </div>
  <div class="login-footer">
    <button class="btn btn-primary login-btn" ng-click="modifyUserPassword()">确认修改密码</button>
  </div>
</div>