<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">我的资料</h2>
    </div>
    <div class="panel-body" style="padding-left: 20px;padding-right: 20px;">
        <div class="user-info-portrait">
            <div class="portrait">
                <img ng-show="haveLoginuser.smallImg" ng-src="{{haveLoginuser.smallImg}}">
            </div>
            <div class="change-portrait">
                <button class="btn btn-default" ng-click="modifyPortrait()">修改头像</button>
            </div>
        </div>
        <div class="user-message-item">
            <div>姓名</div>
            <span>{{haveLoginuser.userName}}</span>
            <div class="user-right-button">
                <span ng-click="modifyName()">修改</span>
            </div>
        </div>
        <div class="user-message-item">
            <div>账号</div>
            <span>{{haveLoginuser.randCode}}</span>
        </div>
        <div class="user-message-item">
            <div>手机号</div>
            <span>{{haveLoginuser.phone | phoneHash}}</span>
        </div>
        <div class="user-message-item">
            <div>修改密码</div>
            <span>为了您的账号安全，我们建议您定期修改密码！</span>
            <div class="user-right-button">
                <span ng-click="modifyPassword()">修改</span>
            </div>

        </div>

    </div>
</div>