<div class="album-detail-container" ng-style="albumListHeight">
    <div class="album-list-menu" ng-style="albumListHeight">
        <div class="album-list-title">
            专辑列表
            <div class="back-btn" ng-click="goBackToList()">
                &lt;返回
            </div>
        </div>
        <div class="album-list-panel">
            <div class="album-list-item" ng-class="{'album-list-item-active':videoList.nowActiveVideoId==album.id}" ng-repeat="album in videoList.list" ng-click="changeActiveVideo(album)">
                {{album.title}}
            </div>
        </div>

    </div>
    <div class="album-video-content" ng-style="albumVideoContainer">
        <video id="detailVideo" ng-src="{{trustUrl(videoList.nowActiveVideo)}}" width="100%" height="100%" autoplay controls></video>
    </div>

    <div class="album-comment-detail" ng-style="albumListHeight">
        <div class="album-detail-intro">
            <img ng-src="{{albumDetail.smallImage}}">
            <div class="title-desc">
                {{albumDetail.albumTitle}}
                <div class="desc">{{albumDetail.albumAuthor}}</div>
                <div class="create-time">{{albumDetail.createTime}}</div>
            </div>
        </div>
        <div class="album-desc">
            {{albumDetail.albumDesc}}
        </div>
        <div class="album-comments">
            <div class="comments-title">
                热门评论
            </div>
            <div class="one-comment-item" ng-repeat="comm in userComment.list">
                <div class="commen-user">
                    {{comm.userName}}
                </div>
                <div class="commen-message">
                    {{comm.content}}
                </div>
                <div class="comment-titme">
                    {{comm.pushTime}}
                </div>
            </div>
        </div>
        <div class="submit-comment">
            <input placeholder="评论" ng-model="commentContent">
            <div class="sub-btn" ng-click="submitComment()">
                评论
            </div>
        </div>
    </div>
</div>