.passage-content-panel{
  width: 1129px;
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 1px solid gainsboro;
  border-radius: 8px;
  margin-top: 5px;
}