<div class="passage-container" ng-style="PassageDetailWidth" id="contain">
    <div class="passage-content-panel" id="passagelist">
        <div class="passage-left-content">
            <div class="back-btn" ng-click="backToPre()">
                <a href="#">返回</a>
            </div>
            <div class="">
                <h3>{{detailMsg.title}}</h3>
                <div>{{detailMsg.formateDate}}</div>
            </div>
            <div class="passage-detail-info" ng-bind-html="detailMsg.detail">

            </div>
            <div class="passage-comment-text">
                <textarea placeholder="请输入评论."></textarea>
                <div class="btn btn-success btn-default comment-btn" ng-click="submitComment()">提交评论</div>
            </div>
            <div class="passage-hot-comment">
                <div class="comment-title">
                    热门评论
                </div>
                <div class="comment-detail" ng-repeat="comment in userComment.list" ng-class="{'none-border':$last}">
                    <h5>总有刁民想害朕</h5>
                    <div>{{comment.content}}</div>
                    <div>{{comment.pushTime}}</div>
                </div>
            </div>
        </div>
        <div class="passage-right-content">
            <img class="rec-img" ng-hide="rec.id==passageId" ng-repeat="rec in passageRec.list" ng-src="{{rec.imgSrc}}">
        </div>

    </div>
</div>