<div class="passage-container" id="contain" ng-style="PassageDetailHeight">
    <div class="passage-content-panel" id="passagelist" ng-style="PassageDetailWidth">
        <div class="passage-left-content" style="height: 100%">
            <!--<div class="back-btn" ng-click="backToPre()">-->
                <!--<a href="#">返回</a>-->
            <!--</div>-->
            <div class="passage-title">{{detailMsg.title}}</div>
            <div class="passage-create-time">发布于{{detailMsg.formateDate}}</div>
            <div class="passage-detail-info" ng-bind-html="detailMsg.detail">

            </div>
            <div class="passage-comment-text">
                <div class="passage-yimo-guandian">医模观点论</div>
                <textarea placeholder="我要发表评论." ng-model="commentContent"></textarea>
                <div class="comment-btn" ng-click="submitComment()">评论</div>
            </div>
            <div class="passage-hot-comment">
                <div class="comment-title">
                    热门评论
                </div>
                <div class="comment-detail" ng-repeat="comment in userComment.list" ng-class="{'none-border':$last}">
                    <div class="user-name">{{comment.userName}}</div>
                    <div class="comment-info">{{comment.content}}</div>
                    <div class="comment-date">发布于{{comment.pushTime}}</div>
                </div>
                <div class="no-comment" ng-show="userComment.list.length==0">
                    暂无评论
                </div>
            </div>
            <!--<uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>-->
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
    </div>
    <div class="passage-right-content">
        <div class="hot-passage">
            热门文章
        </div>
        <img class="rec-img" ng-hide="rec.id==passageId" ng-click="toInfoDetail(rec)" ng-repeat="rec in passageRec.list" ng-src="{{rec.imgSrc}}">
    </div>

</div>