<div class="passage-container" ng-style="panelPassageWidth">
    <div class="passage-content-panel">
        <div>文章列表000</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表111</div><div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表222</div><div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表333</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div><div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表444</div>
        <div>文章列表</div>
        <div>文章列表</div>
        <div>文章列表</div>
    </div>
</div>

