.passage-container{
  overflow-y: auto;
  margin-top: 60px;
  position: relative;
  background-color: #f2f2f2;
  .passage-content-panel{
    background-color: #f9f9f9;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    .passage-left-content{
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 8px;
      .detail-back-btn{
        font-size: 16px;
        height: 20px;
        padding-top: 10px;
        line-height: 20px;
        cursor: pointer;
      }
      .detail-back-btn:hover{
        color: @main-color;
      }
      .passage-list{
        .list-repeat{
          margin-top: 5px;
          padding-top: 28px;
          padding-bottom: 28px;
          height: 198px;
          border-bottom: 1px solid gainsboro;
          .media-body{
            padding-top: 10px;
            .media-heading{
              font-size: 24px;
              font-weight: bold;
              color: #333;
              line-height: 1;
            }
            .media-heading:hover{
              font-size: 24px;
              font-weight: bold;
              cursor: pointer;
              color: @main-color;
            }
            .media-create-date{
              margin-top: 16px;
              color: #999;
              font-size: 14px;
              line-height: 1;
            }
            .media-subheader{
              cursor: pointer;
              margin-top: 35px;
              font-size: 14px;
              color: #333;
            }
          }
          .media-left{
            img{
              width: 224px;
              height: 142px;
            }
          }
        }
        .none-border{
          border: none;
        }
      }
      .passage-detail-info{
        margin-top: 30px;
        img{
          width: 100%;
        }
      }
      .passage-comment-text{
        width: 100%;
        margin-top: 20px;
        position: relative;
        //padding: 10px;
        .passage-yimo-guandian{
          font-size: 18px;
          font-weight: bold;
          line-height: 1;
          color: #333;
        }
        textarea{
          margin-top: 12px;
          padding: 10px;
          height: 134px;
          width: 100%;
          resize: none;
          border-radius: 0px;
          color: #333;
          border: 1px solid gainsboro;
        }
        ::-webkit-textarea-placeholder { /* WebKit browsers */
          color: #c7c7c7;
        }
        .comment-btn{
          height: 35px;
          width: 90px;
          float: right;
          margin-top: 11px;
          text-align: center;
          background-color: @main-color;
          color: white;
          line-height: 34px;
          border-radius: 2px;
          cursor: pointer;
        }
      }
      .passage-hot-comment{
        margin-top: 50px;
        .comment-title{
          //line-height: 1px;
          font-size: 18px;
          font-weight: bold;
          padding-bottom: 12px;
          color: #333;
          border-bottom: 1px solid #e5e5e5;
        }
        .comment-detail{
          padding-top: 20px;
          padding-bottom: 20px;
          position: relative;
          border-bottom: 1px solid #e5e5e5;
          .user-name{
            line-height: 1;
            color: #fb9f00;
            font-size: 14px;
          }
          .comment-info{
            margin-top: 12px;
            font-size: 12px;
            color: #333;
          }
          .comment-date{
            position: absolute;
            right: 0;
            top: 23px;
            font-size: 12px;
            color: #999;
          }

        }
        .no-comment{
          padding-top: 20px;
          padding-bottom: 20px;
        }
        .none-border{
          border: none;
        }
      }
      .passage-title{
        line-height: 1;
        font-size: 24px;
        padding-top: 39px;
        padding-bottom: 14px;
      }
      .passage-create-time{
        font-size: 14px;
        color: #999;
        padding-bottom: 25px;
        border-bottom: 1px solid @border-color;
      }
    }
  }
  .passage-right-content{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 30px;
    width: 262px;
    .hot-passage{
      margin-top: 48px;
      line-height: 1;
      font-size: 20px;
      color: #333;
      padding-bottom: 8px;
      border-bottom: 1px solid @border-color;
    }
    .rec-img{
      width: 100%;
      margin-top: 23px;
      vertical-align: top;
    }
    .rec-img:hover{
      cursor: pointer;
    }
  }
}

.album-detail-container{
  padding-top: 60px;
  width: 100%;
  .album-list-menu{
    width: 200px;
    background-color: #f9f9f9;
    position: fixed;
    left: 0;
    top: 60px;
    .album-list-title{
      font-size: 16px;
      color: #666;
      padding-top: 29px;
      padding-left: 20px;
      width: 100%;
      height: 59px;
      background-color: #f2f2f2;
      clear: both;
      .back-btn{
        float: right;
        margin-right: 17px;
        cursor: pointer;
      }
      .back-btn:hover{
        color: @main-color;
      }
    }
    .album-list-panel{
      width: 100%;
      padding: 0 20px;
      .album-list-item{
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        color: #333;
        cursor: pointer;
        border-bottom: 1px solid @border-color;
      }
      .album-list-item-active{
        color: @main-color;
      }
      .album-list-item:hover{
        color: @main-color;
      }
    }

  }
  .album-video-content{
    position: fixed;
    top: 60px;
    left: 200px;
    background-color: #000;
  }
  .album-comment-detail{
    padding: 20px 20px 35px 20px;
    width: 337px;
    overflow-y: auto;
    background-color: #f2f2f2;
    position: fixed;
    right: 0;
    top: 60px;
    .album-detail-intro{
      position: relative;
      img{
        vertical-align: top;
        width: 135px;
        //height: 113px;
      }
      .title-desc{
        position: absolute;
        left: 150px;
        font-size: 16px;
        padding-top: 5px;
        color: #333;
        top: 0;
        .desc{
          margin-top: 20px;
          font-size: 12px;
          color: #666;
          line-height: 1;
        }
        .create-time{
          margin-top: 10px;
          line-height: 1;
          font-size: 12px;
          color: #999;
        }
      }
    }
    .album-desc{
      margin-top: 18px;
      line-height: 1.5;
      word-wrap:break-word;
      font-size: 12px;
      color: #333;
    }
    .album-comments{
      margin-top: 38px;
      .comments-title{
        line-height: 1;
        font-size: 16px;
        color: #333;
        padding-bottom: 9px;
        border-bottom: 1px solid @border-color;
      }
      .one-comment-item{
        padding: 20px 0;
        border-bottom: 1px solid @border-color;
        position: relative;
        .commen-user{
          font-size: 14px;
          color: #fb9f00;
          line-height: 1;
        }
        .commen-message{
          word-wrap:break-word;
          margin-top: 11px;
          font-size: 12px;
          line-height: 1;
          color: #999;
        }
        .comment-titme{
          position: absolute;
          top: 20px;
          right: 0;
          font-size: 12px;
          color: #999;
        }

      }

    }
    .submit-comment{
      position: fixed;
      bottom: 0;
      right: 20px;
      width: 297px;
      height: 35px;
      input{
        padding-left: 15px;
        width: 230px;
        border: none;
        background-color: #e9e9e9;
        height: 35px;
      }
      .sub-btn{
        position: absolute;
        right: 0;
        top: 0;
        background-color: @main-color;
        height: 35px;
        width: 60px;
        border-radius: 2px;
        text-align: center;
        line-height: 35px;
        cursor: pointer;
        color: white;
      }
    }
  }
}
