<div class="passage-container" ng-style="panelPassageHeight" id="contain">
    <div class="user-no-login" style="height: 100%;background-color: #f2f2f2" ng-show="isNetConnect">
        <img src="./app/img/katong.png">
        <div class="nologin-intro">无法加载数据，似乎没有网络连接哦！</div>
        <div class="no-login-btn" ng-click="getNewsList()">重试</div>
    </div>
    <div class="passage-content-panel" id="passagelist" ng-style="panelPassageWidth">
        <div class="passage-left-content">
            <div class="row passage-list">
                <div class="media list-repeat" style="width: 100%" ng-class="{'none-border':$last}" ng-repeat="news in passageList.list">
                    <a href="#" class="media-left media-middle media-bottom">
                        <img ng-src="{{news.imgSrc}}"  ng-click="toDetailPage(news)" width="150"/>
                    </a>
                    <div class="media-body">
                        <div class="media-heading"  ng-click="toDetailPage(news)">{{news.title}}</div>
                        <div class="media-create-date">
                            发表于{{news.formateDate}}
                        </div>
                        <p class="media-subheader"  ng-click="toDetailPage(news)">{{news.extstr1}}{{news.extstr1}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="passage-right-content">
        <div class="hot-passage">
            热门文章
        </div>
        <img class="rec-img" ng-repeat="rec in passageRec.list" ng-src="{{rec.imgSrc}}" ng-click="toDetailPage(rec)">
    </div>
</div>

