/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

@icon-font-path: '../../bower_components/ionic/release/fonts/';
@font-face {
  font-family: 'icomoon';
  src:  url('font/icomoon.eot?bzzqv4');
  src:  url('font/icomoon.eot?bzzqv4#iefix') format('embedded-opentype'),
  url('font/icomoon.ttf?bzzqv4') format('truetype'),
  url('font/icomoon.woff?bzzqv4') format('woff'),
  url('font/icomoon.svg?bzzqv4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@header-tab-height:100px;

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lou-dou:before {
  font-size: 26px;
  content: "\e900";
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector

div > img{
  width: 100%;
}

html,body{
  height: 100%;
  width: 100%;
}
body{
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei Regular","Microsoft YaHei";
}

.nav-tab-bar{
  width: 100%;
  height: @header-tab-height;
  position: relative;
  background-color: #673088;
  .nav-bar-content{
    width: 1024px;
    height: @header-tab-height;
    line-height: @header-tab-height;
    margin: 0 auto;
    position: relative;
    .nav-left-logo{
      height: @header-tab-height;
      img{
        margin-top: 21px;
        width: 92px;
        height: 57px;
      }
    }
    .nav-right-tab{
      height: @header-tab-height;
      position: absolute;
      right: 0;
      top: 0;
      .yimo-tab{
        display: inline-block;
        width: @header-tab-height;
        height: @header-tab-height;
        text-decoration: none;
        color: #cccccc;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        font-family: "Microsoft YaHei Regular","Microsoft YaHei";
      }
      .yimo-tab:hover{
        color:white;
      }
      .yimo-tab-active{
        color: white;
      }
    }
  }
}

.main-container{
  width: 1024px;
  margin: 0 auto;
}