/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

@icon-font-path: '../../bower_components/ionic/release/fonts/';
@font-face {
  font-family: 'icomoon';
  src:  url('font/icomoon.eot?bzzqv4');
  src:  url('font/icomoon.eot?bzzqv4#iefix') format('embedded-opentype'),
  url('font/icomoon.ttf?bzzqv4') format('truetype'),
  url('font/icomoon.woff?bzzqv4') format('woff'),
  url('font/icomoon.svg?bzzqv4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@header-tab-height:60px;
//@app-min-width:1366px;
@app-min-width:1280px;
@main-color:#9e62df;
@main-color:#913aef;
//边线颜色
@border-color:#e5e5e5;

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lou-dou:before {
  font-size: 26px;
  content: "\e900";
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector

html,body{
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  min-width: @app-min-width;
  font-family: "Microsoft YaHei Regular","Microsoft YaHei";
}
//body{
//  overflow: hidden;
//  padding: 0;
//  margin: 0;
//  font-family: "Microsoft YaHei Regular","Microsoft YaHei";
//  height: 100%;
//}

.nav-tab-bar{
  width: 100%;
  height: @header-tab-height;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  min-width: @app-min-width;
  overflow-y: hidden;
  .nav-bar-content{
    height: @header-tab-height;
    line-height: @header-tab-height;
    margin: 0 auto;
    position: relative;
    .nav-left-logo{
      height: @header-tab-height;
      img{
        margin-top: 21px;
        margin-left: 40px;
        width: 60px;
        vertical-align: top;
      }
    }
    .nav-right-tab{
      height: @header-tab-height;
      position: absolute;
      margin-left: 200px;
      top: 0;
      font-size: 0;
      .yimo-tab{
        display: inline-block;
        width: 72px;
        height: @header-tab-height;
        text-decoration: none;
        color: #333;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        font-family: "Microsoft YaHei Regular","Microsoft YaHei";
      }
      .yimo-tab:hover{
        color:white;
        background-color: #913aef;
      }
      .yimo-tab-active{
        color: white;
        background-color: #913aef;
      }
    }
  }
  .mine-img-tab{
    position: absolute;
    right: 60px;
    top: 11px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background: url('../app/img/touxiangxiao.png') left center no-repeat;
    background-size: 38px 38px;
    img{
      width: 38px;
      height: 38px;
      border-radius: 19px;
    }
  }
}

.main-container{
  //overflow-y: hidden;
  min-width: @app-min-width;
  height: 100%;
}
.modal-login{
  width: 403px;
  padding-top: 20vh;
}

.modal-feed{
  width: 500px;
  padding-top: 10vh;
}
.modal-tip{
  width: 200px;
  padding-top: 30vh;
}

.common-panel{
  position: relative;
  .close-btn{
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    z-index: 10;
    font-size: 26px;
  }
  .common-panel-header{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: gainsboro;
    position: relative;
    img{
      width: 60px;
    }
  }
  .common-panel-body{
    padding-left: 20px;
    padding-right: 20px;

    .upload-preview{
      display: inline-block;
      max-width: 50%;
      .file-group {
        position: relative;
        overflow: hidden;
        //.portrait-preview{
        //  margin-top: 20px;
        //  width: 80px;
        //  height: 80px;
        //  background: url('../app/img/touxiang@2x.png') left center no-repeat;
        //  background-size: 80px 80px;
        //  border-radius: 40px;
        //}
      }
      .file-group input[type=file] {
        position: absolute;
        left: 0;
        top: 20px;
        font-size: 200px;
        opacity: 0;
        width: 123px;
        height: 36px;
        overflow: hidden;
      }

    }
    .upload-show-img{
      display: inline-block;
      max-width: 50%;
      .downloaded-img {
        width: 200px;
        margin: 10px;
      }
      .downloaded-img img,
      .downloaded-img canvas {
        max-width: 100%;
      }
    }

    .feed-stage{
      height: 40px;
      line-height: 40px;
      font-size: 18px;
    }
    .feed-user-name{
      width: 100%;
      margin-top: 10px;
      input{
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid gainsboro;
        padding-left: 5px;
      }
    }
    .feed-text-area{
      width: 100%;
      margin-top: 20px;
      .massage-area{
        padding: 5px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid gainsboro;
        min-height: 150px;
        resize: none;
      }
    }
    .feed-error-tip{
      color: red;
    }
  }
  .common-panel-footer{
    padding: 20px;
    .feed-btn{
      width: 100%;
      background-color: @main-color;
      border: none;
      height: 40px;
    }
  }
}

.common-success-panel{
  position: relative;
  .close-btn{
    display: block;
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    z-index: 10;
    font-size: 26px;
  }
  .panel-header{
    border-radius: 8px;
    text-align: center;
    height: 40px;
    line-height: 40px;
  }
  .panel-body{
    text-align: center;
    font-size: 18px;
  }
}